<link rel="stylesheet" href="/css/pages/desktop/home/section-feed.css">

<div class="container-feed esquerda">
    <div class="flex">
        <div class="txt-topo-site efeito-heading-sobre"><!--ARRUMAR RESPONSIVO-->
            <h1>FEEDBACKS</h1>
        </div><!--txt-topo-site-->

        <div class="card card1">
            <div class="img-nome">
                <img src="/css/imgs/elementos/nav-icon-user.png" alt="Foto Usuário">
                <div class="estrelas">
                <h1>Guilherme Francisco</h1>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit."</h2>
            </div>
        </div>
    </div>
</div>

<div class="container-feed meio">
    <div class="flex">
        <div class="card card2">
            <div class="img-nome">
                <img src="/css/imgs/foto-barbeiro/barber-gustavo.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Gustavo Henrique</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                </div>
            </div>
            <div class="comentario">
                <h2 class="grande">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi facilis modi voluptatum quasi recusandae, repellendus voluptatibus temporibus laudantium voluptates maiores magni optio eveniet soluta nesciunt pariatur quaerat necessitatibus reprehenderit culpa!"</h2>
            </div>
        </div>
        <div class="card card3">
            <div class="img-nome">
                <img src="/css/imgs/foto-barbeiro/barber-bruno.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Bruno Eugênio</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                </div>
            </div>
            <div class="comentario">
                <h2 class="pequeno">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa?"</h2>
            </div>
        </div>
        
    </div>
</div>

<div class="container-feed direita">
    <div class="flex">
        <div class="card card4">
            <div class="img-nome">
                <img src="/css/imgs/elementos/nav-icon-user.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Guilherme Francisco</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa?"</h2>
            </div>
        </div>
        <div class="card card4">
            <div class="img-nome">
                <img src="/css/imgs/foto-barbeiro/barber-bruno.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Bruno Eugênio</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa?"</h2>
            </div>
        </div>

    </div>
</div>

</body>

</html>