<link rel="stylesheet" href="/css/pages/desktop/home/section-sobre.css">

<div class="txt-topo-site efeito-heading-sobre"><!--ARRUMAR RESPONSIVO-->
    <h1>SOBRE <span>NOSSO ATENDIMENTO</span></h1>
  </div><!--txt-topo-site-->

<div class="container">
        <img class="img-esquerda efeito-img-sobre" src="/css/imgs/imagens/card-atendimento.png" alt="Foto Atendimento">

        <div class="txt-direita efeito-txt-sobre">
            <h1>Aqui na <span class="font-edt">AND BARBERSHOP</span> nos preocupamos com cada detalhe no seu atendimento. Priorizamos o seu bem-estar e conforto, assim <span class="line-bottom">trazendo à você <span class="font-edt">uma Experiência Única!</span></span></h1>
        </div>
</div><!--container-->

</body>

</html>