<link rel="stylesheet" href="/css/pages/desktop/home/section-feed.css">

<div class="container-feed esquerda">
    <div class="flex">
        <div class="txt-topo-site efeito-heading-sobre"><!--ARRUMAR RESPONSIVO-->
            <h1>FEEDBACKS</h1>
        </div><!--txt-topo-site-->

        <div class="card card1 efeito-card-esquerda">
            <div class="img-nome">
                <img src="/css/imgs/foto-barbeiro/guilherme.png" alt="Foto Usuário">
                <div class="estrelas">
                <h1>Guilherme Francisco</h1>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill opaca"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit."</h2>
            </div>
        </div>
    </div>
</div>

<div class="container-feed meio efeito-card-meio">
    <div class="flex">
        <div class="card card2 efeito-card-meio1">
            <div class="img-nome">
                <img src="/css/imgs/foto-barbeiro/barber-gustavo.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Gustavo Henrique</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi facilis modi voluptatum quasi recusandae, repellendus voluptatibus temporibus laudantium voluptates maiores magni optio eveniet soluta nesciunt pariatur quaerat necessitatibus reprehenderit culpa!"</h2>
            </div>
        </div>
        <div class="card card3 efeito-card-meio2">
            <div class="img-nome">
                <img src="/css/imgs/foto-barbeiro/barber-bruno.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Bruno Eugênio</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa?"</h2>
            </div>
        </div>
        
    </div>
</div>

<div class="container-feed direita efeito-card-direita">
    <div class="flex">
        <div class="card card4 efeito-card-direita1">
            <div class="img-nome">
                <img src="/css/imgs/elementos/nav-icon-user.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Vinícius da Silva</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa?"</h2>
            </div>
        </div>
        <div class="card card4 efeito-card-direita2">
            <div class="img-nome">
                <img src="/css/imgs/foto-barbeiro/lucas.png" alt="Foto Usuário">
                <div class="estrelas">
                    <h1>Lucas de Aguiar C.</h1>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                        <i class="bi bi-star-fill opaca"></i>
                </div>
            </div>
            <div class="comentario">
                <h2>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe vitae pariatur enim molestiae ipsa?"</h2>
            </div>
        </div>

    </div>
</div>

</body>

</html>