<head>
  <link rel="stylesheet" href="/css/buttons/btns-form.css">
  <link rel="stylesheet" href="/css/pages/desktop/home/section-planos.css">
  <link rel="stylesheet" href="/css/pages/responsivo/home/resp-section-planos.css">

  <script src="/css/partials/modal/modal.js" defer></script>
</head>


<div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
  <h1>Planos <span>AND BARBERSHOP</span></h1>
</div><!--txt-topo-site-->

<div class="container efeito-cont-plano">
  <ul class="ul-planos">
      <li class="card efeito-card-plano">
        <div class="content">
          
          <h2>01</h2>
          <h3>sim</h3>

          <p class="text">Descrição:&nbsp;<span>verdade.</span></p>
          <p class="preco"><i class="bi bi-cash-stack"></i>&nbsp;<span>R$</span>30.00</p>

          <div class="btn-container">
            <button id="abre-modal"
              data-id="1"
              data-nome="sim" 
              data-descricao="verdade." 
              data-preco="30.00"
              class="btn-infos">
              <i class="bi bi-info-circle"></i>Mais informações
            </button>
          </div>
        </div><!--content-->
      </li><!--card-->
        <%- include ("../partials/modal/modal-planos.ejs") %>
</div><!--container-->
</ul>


<script src="/css/partials/cards/vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 0.3,
  });
</script>