<link rel="stylesheet" href="/css/pages/desktop/home/section-servicos.css">

<div class="txt-topo-site efeito-heading-sobre"><!--ARRUMAR RESPONSIVO-->
    <h1>NOSSOS <span>SERVIÇOS</span></h1>
  </div><!--txt-topo-site-->

<div class="container-servicos">

            <ul class="ul-servicos efeito-ul-sobre">
                <li><a class="nome-servico"><span>01.</span> Recorte de Cabelo</a></li>
                <li><a class="nome-servico"><span>02.</span> Corte Social</a></li>
                <li><a class="nome-servico"><span>03.</span> Degradê</a></li>
                <li><a class="nome-servico"><span>04.</span> Degradê Navalhado</a></li>
                <li><a class="nome-servico"><span>05.</span> Freestyle</a></li>
                <li><a class="nome-servico"><span>06.</span> Bigode</a></li>
                <li><a class="nome-servico"><span>07.</span> Barba</a></li>
                <li><a class="nome-servico"><span>08.</span> Barboterapia</a></li>
                <li><a class="nome-servico"><span>09.</span> Sobrancelha</a></li>
                <li><a class="nome-servico"><span>10.</span> Depilação de Nariz (Cera)</a></li>
                <li><a class="nome-servico"><span>11.</span> Depilação de Orelha (Cera)</a></li>
                <li><a class="nome-servico"><span>12.</span> Limpeza de Pele</a></li>
                <li><a class="nome-servico"><span>13.</span> Coloração</a></li>
                <li><a class="nome-servico"><span>14.</span> Platinado/Descoloração</a></li>
            </ul>
            <div class="img-mobile efeito-img-servicos"></div>
            <img class="img-esquerda efeito-img-servicos" src="/css/imgs/imagens/card-servicos.png" alt="Foto Atendimento">
</div><!--container-->
<!--
Recorte Cabelo
Corte Social
Degradê
Degradê Navalhado
Freestyle
Cabelo e Barba
Bigode
Barba
Barboterapia
Sobrancelha
Depilação de Nariz (Cera)
Depilação de Orelha (Cera)
Limpeza de Pele
Coloração
Platinado/Descoloração
-->

</body>

</html>