<link rel="stylesheet" href="/css/pages/desktop/home/section-sobre.css">

<div class="heading"><h1>Como <span>Tudo</span></h1><h1 class="sub">Começou</h1></div>

<div class="content">
    
        <div class="imagens-esquerda">
            <img class="img-topo" src="/css/imgs/imagens/foto1.png" alt="Foto AND Antes">
            <img class="img-base" src="/css/imgs/imagens/foto2.png" alt="Foto AND Antes">
        </div>
        <div class="texto-direita">
            <div class="descricao">
                <h1>Idealizada por Gustavo Andrade e seu pai,
                    a And Barbershop nasceu do desejo de
                    Gustavo de honrar o desejo e a memória
                    de seu pai de terem a própria barbearia,
                    motivado também pela ambição em seu
                    crescimento profissional e empresarial.</h1>
            </div>
            <div class="btn-container">
                <button class="btn-agendar-header" style="width: 200px;">Mais Informações</button>
            </div>
        </div>

</div><!--container-->

</body>

</html>