<head>
  <link rel="stylesheet" href="/css/buttons/btns-form.css">
  <link rel="stylesheet" href="/css/pages/desktop/home/section-planos.css">
  <link rel="stylesheet" href="/css/pages/responsivo/home/resp-section-planos.css">

  <script src="/css/partials/modal/modal.js" defer></script>
</head>


<div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
  <h1>Planos <span>AND BARBERSHOP</span></h1>
</div><!--txt-topo-site-->

<div class="container-planos efeito-container-form">
  <ul class="ul-planos">
      <li class="card efeito-card-plano-1">
        <div class="content">
          
          <h2>01</h2>
          <h3>PLANO MENSAL 1</h3>

          <p class="text" id="desc-curta">Descrição:&nbsp;<span>Acesso vitalício para Cortes de Cabelo</span></p>
          <p class="preco"><i class="bi bi-cash-stack"></i>&nbsp;<span>R$</span>99,90</p>

          <div class="btn-container">
            <button id="abre-modal-plano1" class="btn-infos">
              <i class="bi bi-info-circle"></i>Mais informações
            </button>
          </div>

        </div><!--content-->
      </li><!--card-->

      <li class="card efeito-card-plano-2">
        <div class="content">
          
          <h2>02</h2>
          <h3>PLANO MENSAL 2</h3>

          <p class="text" id="desc-curta">Descrição:&nbsp;<span>Acesso vitalício para Cortes de Cabelo e Barba</span></p>
          <p class="preco"><i class="bi bi-cash-stack"></i>&nbsp;<span>R$</span>159,90</p>

          <div class="btn-container">
            <button id="abre-modal-plano2" class="btn-infos">
              <i class="bi bi-info-circle"></i>Mais informações
            </button>
          </div>

        </div><!--content-->
      </li><!--card-->

      <li class="card efeito-card-plano-3">
        <div class="content">
          
          <h2>03</h2>
          <h3>PLANO TRIMESTRAL</h3>

          <p class="text" id="desc-curta">Descrição:&nbsp;<span>Acesso vitalício para Cortes de Cabelo e Barba</span></p>
          <p class="preco"><i class="bi bi-cash-stack"></i>&nbsp;<span>R$</span>289,90</p>

          <div class="btn-container">
            <button id="abre-modal-plano3" class="btn-infos">
              <i class="bi bi-info-circle"></i>Mais informações
            </button>
          </div>

        </div><!--content-->
      </li><!--card-->
        <%- include ("../partials/modal/modal_plano_1.ejs") %>
        <%- include ("../partials/modal/modal_plano_2.ejs") %>
        <%- include ("../partials/modal/modal_plano_3.ejs") %>
</div><!--container-->
</ul>


<script src="/css/partials/cards/vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 0.3,
  });
</script>