<link rel="stylesheet" href="/css/pages/desktop/home/section-sobre.css">

<div class="txt-topo-site efeito-heading-sobre"><!--ARRUMAR RESPONSIVO-->
    <h1>SOBRE <span>NOSSO ATENDIMENTO</span></h1>
  </div><!--txt-topo-site-->

<div class="container efeito-container-sobre">
        <img class="img-esquerda efeito-img-sobre" src="/css/imgs/imagens/card-atendimento.png" alt="Foto Atendimento">

        <div class="txt-direita efeito-txt-sobre">
            <h1>Aqui na <span>AND BARBERSHOP</span> nos preocupamos com cada 
                detalhe no seu atendimento. Priorizamos o seu bem-estar e conforto, assim 
                <a style="position: relative; top: -10px;">trazendo à você 
                <span>uma Experiência Única!</span></a></h1>
        </div>
</div><!--container-->

</body>

</html>