header nav.menu-desktop a{
    display: none;
}

.btn-abrir-menu {
    display: block;
    transition: .2s;
    cursor: pointer;
}

.menu-conta {
    background-color: #1d1b1a;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-conta .container{
    padding: 0px 8%;
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-conta.abrir-menu{
    width: 25%;
}

.menu-conta.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-conta .btn-fechar i {
    color: #d0804e;
    font-size: 30px;
    transition: .2s;
    cursor: pointer;
}

.menu-conta .btn-fechar {
    padding: 20px 4%;
}

.btn-abrir-menu i {
    display: block;
    color: #d0804e;
    font-size: 40px;
    padding: 0px 20px;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}