/* INFOS DA CONTA */
.info-conta {
    height: 60px;
    width: 100%;
    padding: 5px 3%;

    background-color: #d0804e;
    border-radius: 40px;
}

.info-conta .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-conta, .img-conta img{
    height: 50px;
    width: 50px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
}

.img-conta img.img-cliente, .img-conta img.img-barbeiro{
    border: solid 3px #9b603c;
}

.info-conta .txt-conta{
    width: 150px;
    padding-left: 4%;
    line-height: 1.05em;
    display: block;
    justify-content: center;
}

.txt-conta h1{
    margin-top: -1%;

    font-family: Espiritu;
    font-weight: 100;
    text-decoration: none;

    font-size: 20px;
    color: #1d1b1a;
}

.txt-conta a{
    font-family: Espiritu;
    font-weight: 10;
    text-decoration: none;

    font-size: 10px;
    color: #11100f;
}

.txt-conta a.href:hover{
    cursor: pointer;
    transition: .2s;
    color: #fff;
}

.txt-conta hr{
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 2px solid #1d1b1a;
}
/* FIM ESTILO INFOS DA CONTA */
/*
.container nav ul{
    display: inline-block;
    list-style: none;
}

.container nav ul li{
    padding: 5% 0;
}

.container nav ul li a{
    display: block;
    text-align: end;

    font-family: Espiritu;
    text-decoration: none;
    background-color: transparent;
    color: #f1f1f1;
    transition: .3s;
}

.container nav ul li a:hover{
    color: #fff;
    transform: scale(1.05);
} */

@media screen and (max-width: 960px) {
    .info-conta {
        height: 50px;
        width: 40%;
        padding: 5px 2%;
    }

    .img-conta, .img-conta img{
        height: 30px;
        width: 30px;
    
        display: flex;
        justify-content: center;
    }

    .info-conta .txt-conta{
        width: 100%;
    }

    .txt-conta a{
        font-size: 6px;
    }

    .txt-conta hr{
        width: 100%;
    }
}