.fundo-section {
    min-height: 100vh;
    background-image: url(../../imgs/background/background-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.fundo-section .flex{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-position-x: 0%;
    overflow: hidden;
}

.fundo-section .container {
    height: 510px;
    width: 1000px;
    
    background-color: rgba(9, 28, 29, 50%);
    backdrop-filter: blur(2px);
    border-radius: 25px;

    display: flex;
    align-items: center;
}

.text-img {
    height: 350px;
    width: 450px;

    position: relative;
    top: 0;
    left: 8%;

    line-height: 1.8em;

    /*animation: aparecer-img-txt1 .7s ease-out alternate;*/
}

.title {
    z-index: 1;
    color: #f7d2a9;
    font-family: Espiritu Cond;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    top: 28%;
    left: 32%;
}

.subtitle {
    z-index: 1;
    color: #b4936d;
    -webkit-text-stroke: 1px #b4936d;
    text-shadow: -2px -4px 2px #061213;

    font-family: Espiritu Cond;
    font-size: 120px;
    font-weight: bold;
    position: relative;
    top: 27%;
    left: 32%;
}

.img-icon {
    z-index: 2;
    max-height: 400px;
    filter: drop-shadow(15px 0px 0.5rem #091c1d);

    position: relative;
    right: 11%;
    bottom: 58%;
}

.form-container {
    background-color: transparent /*var(--main-bg-color)*/;
    border-radius: 20px;

    margin: 0;
    margin-top: 1%;
    width: 35%;
    padding: 50px;
    position: relative;
    left: 12%;
    
    /*animation: aparecer-form .5s ease-out alternate;*/
}

.form-container .heading {
    color: #b4936d;
    font-size: 35px;
    font-weight: bolder;
    font-family: Espiritu Cond;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form .btn-container {
    display: flex;
    justify-content: center;
    
    width: 120%;
    gap: 20px;
    margin-bottom: 5%;
}

.input-field {
    position: relative;
}

.input-field label {
    font-family: Espiritu;

    position: absolute;
    color: #b4936d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Poppins-Regular;

    background-color: #f7d2a9;
    border: solid 3px #d4ad80;
    border-radius: 13px;

    padding: 10px 15px;
    width: 300px;
}

.input-field input::placeholder {
    color: #2b2b2b;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 3px #ffca8d;
}

.input-field input:focus~label,
.input-field input:valid~label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #ffca8d;
    padding: 0px 5px;
    color: #0d2829;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 100px;
}

.form .passicon {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    top: 6px;
    right: 8px;
}

.form .close {
    display: none;
}