.fundo-section{
  min-height: 100vh;
  background-image: url(../../imgs/background/background-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.fundo-section .flex{
  min-height: 110vh;
  align-items: center;
  justify-content: center;
  background-position-x: 0%;
  overflow: hidden;
}

.fundo-section .container{
  margin-top: 10%;
  margin-bottom: 10%;
  height: 480px;
  width: 75%;
  
  border-radius: 15px;
  background-color: rgba(29, 27, 26, 50%);
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
}

.text-img {
  height: 500px;
  width: 400px;

  position: relative;
  top: 0;
  left: 5%;

  line-height: 1.8em;

  animation: oscilando-txt-img 1s ease-in-out infinite alternate;
}

.title {
  z-index: 1;
  color: #f7d2a9;
  font-family: Espiritu Cond;
  font-size: 80px;
  font-weight: bold;
  position: relative;
  top: 26%;
  left: 7%;
}

.subtitle {
  z-index: 1;
  color: #b4936d;
  -webkit-text-stroke: 1px #b4936d;
  text-shadow: -2px -4px 2px #061213;

  font-family: Espiritu Cond;
  font-size: 140px;
  font-weight: bold;
  position: relative;
  top: 27%;
  left: 0.4%;
}

.img-icon {
  z-index: 2;
  height: 200px;
  width: auto;

  position: relative;
  left: 7%;
  top: 10%;
  animation: oscilando2 1s ease-in-out infinite alternate;
}

.lista-servico {
  max-height: 480px;
  width: 1000px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  overflow: hidden;
  overflow-y: scroll;
}

.lista-servico::-webkit-scrollbar {
  width: 12px;
  background-color: #1d1b1a;
  border-radius: 10px;
  border: 5%;
}

.lista-servico::-webkit-scrollbar-thumb {
  background-color: #d0804e;
  border-radius: 10px;
}

.element {
  height: 80px;
  width: 500px;
  margin: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: solid 3px #11100f;
  background-color: #1d1b1a;
  box-shadow: 0px 0px 8px #11100f;
  border-radius: 20px;

  color: #d0804e;
}

.titulo-servico {
  z-index: 2;
  font-family: Espiritu;

  display: flex;
  justify-content: flex-start;

  margin-top: 40px;
  margin-left: 20px;
}

.preco-servico {
  z-index: 1;
  font-family: Poppins-Medium;
  font-size: 15px;

  display: flex;
  justify-content: flex-end;
  margin-right: 120px;

  position: relative;
  bottom: 15px;
}

.element span{
  font-family: Poppins-Bold;
  color: #fff;
}

.duracao-servico {
  z-index: 1;
  font-family: Poppins-SemiBold;
  font-size: 12px;

  display: flex;
  justify-content: flex-end;
  margin-right: 120px;

  position: relative;
  bottom: 15px;
}

.btn-element {
  z-index: 3;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 20px;

  position: relative;
  bottom: 52px;
}

.btn-select {
  color: #1d1b1a;
  font-size: 11px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;
  font-family: Espiritu;

  height: 30px;
  width: 80px;

  border-radius: 10px;
  border: solid 1px #a3643c;
  border-bottom: solid 3px #774a2e;
  background: linear-gradient(135deg, #d0804e, #b16d43);

  transition: all 0.2s ease;
  box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px #aa683f,
    inset 0px -4px 5px #8d5735;
}

.btn-select:hover{
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 8px #5c3822;
  background: linear-gradient(135deg, #ee9259, #d0804e);
  transform: scale(1.05);
}