.fundo-section {
    min-height: 100vh;
    background-image: url(../../imgs/background/background-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.fundo-section .flex {
    min-height: 110vh;
    align-items: center;
    justify-content: center;
    background-position-x: 0%;
    overflow: hidden;
}

.fundo-section .container {
    height: 520px;
    width: 1000px;

    background-color: rgba(9, 28, 29, 50%);
    backdrop-filter: blur(2px);
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.text-img {
    height: 450px;
    width: 400px;

    position: relative;
    top: 0;
    left: 0;

    line-height: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*animation: aparecer-img-txt1 .7s ease-out alternate;*/
}

.title {
    z-index: 1;
    color: #f7d2a9;
    font-family: Espiritu Cond;
    font-size: 60px;
    font-weight: bold;
}

.subtitle {
    z-index: 1;
    color: #b4936d;
    -webkit-text-stroke: 1px #b4936d;
    text-shadow: -2px -4px 2px #0d2829;

    font-family: Espiritu Cond;
    font-size: 120px;
    font-weight: bold;
}

.text-img i {
    z-index: 5;
    font-size: 100px;
    margin-top: 5%;
    color: #f7d2a9;
    -webkit-text-stroke: 3px #091c1d;
    text-shadow: 0px 0px 10px #0d2829;
}

.form-container {
    background-color: transparent
        /*var(--main-bg-color)*/
    ;

    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*animation: aparecer-form .5s ease-out alternate;*/
}

.heading h1 {
    color: #b4936d;
    font-size: 27px;
    font-weight: bolder;
    font-family: Espiritu Cond;
    text-align: center;
}

.status {
    width: 100%;
}

.status .status-form{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Poppins-Medium;
    font-size: 12px;
}

.status-form i{
    font-size: 20px;
    margin-right: 8px;
}

.status-form.erro{
    color: #db3e3e;
}

.status-form.sucesso{
    color: #4ed05f;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form .btn-container {
    width: 300px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form a {
    font-family: Espiritu;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    color: #f2d7a9;
}

.input-field {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.input-field label {
    font-family: Espiritu;

    position: absolute;
    color: #b4936d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0rem);
    transition: all 0.3s ease;
}

.input-field input {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Poppins-Regular;

    background-color: #f7d2a9;
    border: solid 3px #d4ad80;
    border-radius: 13px;

    padding: 10px 15px;
    width: 300px;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 3px #ffca8d;
}

.input-field input:focus~label,
.input-field input:valid~label {
    transform: translateY(-100%) translateX(-10px) scale(0.8);
    background-color: #ffca8d;
    padding: 0px 5px;
    color: #0d2829;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 100px;
}

.form .passicon {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    top: 6px;
    right: 8px;
}

.form .close {
    display: none;
}