.fundo-section {
  min-height: 100vh;
  background-image: url(../../imgs/background/background-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.fundo-section .flex {
  min-height: 110vh;
  align-items: center;
  justify-content: center;
  background-position-x: 0%;
  overflow: hidden;
}

.efeito-container-form {
  visibility: hidden;
}

.fundo-section .container {
  height: auto;
  width: 1000px;

  background-color: rgba(9, 28, 29, 50%);
  backdrop-filter: blur(2px);
  border-radius: 25px;

  display: flex;
  align-items: center;
}

.text-img {
  height: 450px;
  width: 450px;

  position: relative;
  top: 0;
  left: 4%;

  line-height: 1.8em;

  /*animation: aparecer-img-txt1 .7s ease-out alternate;*/
}

.title {
  z-index: 1;
  color: #f7d2a9;
  font-family: Espiritu Cond;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  top: 32%;
  left: 32.5%;
}

.subtitle {
  z-index: 1;
  color: #b4936d;
  -webkit-text-stroke: 1px #b4936d;
  text-shadow: -2px -4px 2px #0d2829;

  font-family: Espiritu Cond;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  top: 32%;
  left: 17%;
}

.img-form {
  z-index: 0;
  height: 600px;
  width: auto;

  position: relative;
  left: 2%;
  bottom: 58%;
}

.form-container {
  background-color: transparent
    /*var(--main-bg-color)*/
  ;

  border-radius: 20px;
  width: 35%;
  padding: 50px;
  position: relative;

  left: 10%;
  top: 0;

  /*animation: aparecer-form .5s ease-out alternate;*/
}

.form-container .txt-esquecer {
  width: 100%;

  color: #b4936d;
  font-size: 12px;
  font-weight: 100;
  font-family: Espiritu;
  text-align: center;

  display: inline;
}

.form-container .txt-esquecer a {
  font-size: 12px;
  color: #f7d2a9;
}

.heading h1 {
  color: #b4936d;
  font-size: 35px;
  font-weight: bolder;
  font-family: Espiritu Cond;
  text-align: center;
}

.heading h6 {
  color: #b4936d;
  font-size: 12px;
  font-weight: 100;
  font-family: Espiritu;
  text-align: center;
}

.heading a {
  color: #f7d2a9;
  font-weight: 100;
  font-family: Espiritu;
  text-decoration: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form .btn-container {
  width: 300px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form .divisao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divisao hr {
  background-color: #f7d2a9;
  height: 2px;
  border: 0;
  border-radius: 10px;
  width: 120px;
}

.divisao h1 {
  font-family: Poppins-Light;
  font-size: 12px;
  color: #f7d2a9;
  margin: 0 4%;
}

.form h6 {
  display: flex;
  flex-direction: column;
  color: #b4936d;
  font-family: Espiritu;
  text-align: start;
}

.form a {
  font-family: Espiritu;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  color: #f2d7a9;
}

.input-field {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.input-field i {
  position: absolute;
  right: 15px;
  color: #b4936d;
  transition: .3s;
  cursor: pointer;
}

.bi.bi-eye-slash-fill {
  color: #997d5d;
}

.input-field label {
  font-family: Espiritu;

  position: absolute;
  color: #b4936d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  transform: translateY(0rem);
  transition: all 0.3s ease;
}

.input-field input {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Poppins-Regular;

  background-color: #f7d2a9;
  border: solid 3px #d4ad80;
  border-radius: 13px;

  padding: 10px 15px;
  width: 300px;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: solid 3px #ffca8d;
}

.input-field input:focus~label,
.input-field input:valid~label {
  transform: translateY(-100%) translateX(-10px) scale(0.8);
  background-color: #ffca8d;
  padding: 0px 5px;
  color: #0d2829;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 100px;
}

.form .passicon {
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 6px;
  right: 8px;
}

.form .close {
  display: none;
}