.ver-servicos{
    min-height: 100vh;
    background-image: url("../../imgs/background/background-manager.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

section.ver-servicos .flex .txt-topo-site{
    height: 20vh;
    width: 1000px;
    align-items: center; /*eixo vertical*/
    gap: 20px;
}

section.ver-servicos .txt-topo-site{
    margin-top: 15%;
    line-height: 5em;
    width: 100%;
    padding: 0px 2%;
    /*animation: opacidade-moviment 1s ease-out alternate;*/
}

.txt-topo-site h1{
    color: #f7d2a9;
    font-size: 5em;
    font-family: Espiritu Cond;
}

.txt-topo-site h1 span{
    color: #fff;
}

.container-page{
    margin-top: 5%;
    margin-bottom: 15%;
    /*animation: opacidade-moviment 0.5s ease-out alternate;*/
}

.container-page ul{
    gap: 50px;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.container-page ul li{ /* servico */
    list-style: none;

    background-color: rgba(29, 27, 26, 75%);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    padding: 20px 1%;
    height: 300px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-page ul li a{
    color: rgb(202, 202, 202);
    /*animation: opacidade-moviment 1.5s ease-out alternate;*/
}

.container-page ul li a span{
    color: #fff;
}

.container-page ul li a.title{
    width: 100%;
    padding: 5px 3%;
    border-radius: 8px;

    font-size: 15px;
    font-family: Espiritu;
    
    color: #000;
    background-color: #ec8e54;   
}

.container-page ul li a.desc{
    font-size: 12px;
    text-align: justify;
    text-indent: 20px;
    font-family: Poppins-Medium;
    filter: drop-shadow(0px 2px 1px black);
}

.container-page ul li a.info{
    font-size: 16px;
    text-align: justify;
    font-family: Poppins-Medium;
    filter: drop-shadow(0px 2px 1px black);
}

.container-page ul li:hover{
    transition: .2s;
    transform: scale(1.02);
    box-shadow: 0px 10px 20px #091c1d;
    color: #fff;
}

.element .btns-container{
    display: flex;
    justify-content: center;
}