.ver-tarefa{
    min-height: 100vh;
    background-image: url("../../imgs/background/background-manager.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

section.ver-tarefa .flex .txt-topo-site{
    height: 20vh;
    width: 1000px;
    align-items: center; /*eixo vertical*/
    gap: 20px;
}

section.ver-tarefa .txt-topo-site{
    margin-top: 15%;
    line-height: 5em;
    width: 100%;
    padding: 0px 2%;
    /*animation: opacidade-moviment 1s ease-out alternate;*/
}

.txt-topo-site h1{
    color: #f7d2a9;
    font-size: 5em;
    font-family: Espiritu Cond;
}

.txt-topo-site h1 span{
    color: #fff;
}

.container{
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    /*animation: opacidade-moviment 0.5s ease-out alternate;*/
}

.container ul{
    gap: 50px;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.container ul li{ /* servico */
    list-style: none;

    background-color: rgba(29, 27, 26, 75%);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    padding: 20px 1%;
    height: auto;
    width: 300px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container ul li a{
    color: rgb(202, 202, 202);
    /*animation: opacidade-moviment 1.5s ease-out alternate;*/
}

.container ul li a span{
    color: #fff;
}

.container ul li a.title{
    width: 100%;
    padding: 5px 3%;
    border-radius: 8px;

    font-size: 15px;
    font-family: Espiritu;
    
    color: #000;
    background-color: #ec8e54;   
}

.container ul li a.desc{
    width: 100%;
    padding: 4px 0;
    font-size: 12px;
    text-align: justify;
    text-indent: 20px;
    font-family: Poppins-Medium;
    filter: drop-shadow(0px 2px 1px black);
}

.container ul li a.status{
    width: 100%;
    font-size: 15px;
    text-align: center;
    font-family: Poppins-Medium;
    filter: drop-shadow(0px 2px 1px black);
}

.container ul li a.info{
    font-size: 16px;
    text-align: justify;
    font-family: Poppins-Medium;
    filter: drop-shadow(0px 2px 1px black);
}

.container ul li .info-datas{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container ul li a.data {
    width: 100%;
    font-size: 12px;
    text-align: justify;
    color: #d0804e;
    font-family: Poppins-Medium;
    filter: drop-shadow(0px 2px 1px black);
}

.container ul li a.data.dia{
    color: #fff;
    font-size: 16px;
    text-align: justify;
}

.container ul li:hover{
    transition: .2s;
    box-shadow: 0px 10px 20px #091c1d;
    color: #fff;
}

.container .li-aviso{ /* tarefas */
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;
}

.container .li-aviso:hover{
    box-shadow: none;
    transform: none;
}

.aviso{
    box-shadow: none;
    border-radius: 15px;
    padding: 5px 2%;
}

.aviso h1{
    color: #fff;
    font-family: Espiritu;
    font-weight: 10;

    text-transform: initial;
    line-height: 2em;
}

.bt-container{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}