.btn-google {
    color: #2c2c2c;
    font-size: 10px;
    font-family: Poppins-Medium;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    padding: 5px;
    position: relative;

    border-radius: 10px;
    border-top: solid 0.5px #dadada;
    border-left: solid 1px #656565;
    border-bottom: solid 3px #656565;
    border-right: solid 1px #656565;
    background: linear-gradient(135deg, #f1f1f1, #c9c9c9);

    transition: .3s;
    cursor: pointer;

    box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px #dbdbdb,
        inset 0px -4px 5px #c3c3c3;
}

.btn-google img{
    width: auto;
    height: 20px;
    margin-right: 4px;
    margin-left: -2px;
}

.btn-google:hover {
    transform: scale(1.02);
    color: #363636;
    font-family: Poppins-Bold;

    background: linear-gradient(135deg, #dbdbdb, #acacac);
    box-shadow: 0px 0px 10px #363636;
}

.btn-google.loading{
    transition: .3s;
    color: #ffffff00;
}

.btn-google.loading:hover{
    transition: .3s;
    color: #ffffff00;
}

.btn-google.loading img{
    transition: .3s;
    opacity: 0;
}

.btn-google.loading::after{
    position: absolute;

    content: '';
    width: 12px;
    height: 12px;

    border-radius: 100%;
    border: solid 1px transparent;
    border-left-color: #2c2c2c;

    animation: spinner 1s linear infinite;
}