.btn-agendar-header{
    width: 120px;
    height: 35px;
    border: 0;
    border-radius: 10px;
    
    transition: .2s;

    background-color: #d0804e;
    color: #0d2829;
    font-family: Espiritu;
    cursor: pointer;
}

.btn-agendar-header:hover{
    box-shadow: 0px 0px 8px #9c603b;
    background-color: #d0804e;
    color: #fff;

    transform: scale(1.05);
}