<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

  <link rel="stylesheet" href="/css/pages/desktop/index.css">
  <link rel="stylesheet" href="/css/animations/animations-txt.css">
  <link rel="stylesheet" href="/css/buttons/btns-home.css">
  <link rel="stylesheet" href="/css/buttons/btns-form.css">
  <link rel="stylesheet" href="/css/pages/desktop/ver-planos.css">
  <link rel="stylesheet" href="/css/pages/responsivo/resp-ver-planos.css">

  <script src="/css/partials/header/menu-mobile.js" defer></script>
  <title>Planos e Assinaturas - And Barbershop</title>
</head>

<body>
  
    <main>

      <section class="ver-planos">
        <div class="interface">
          <div class="flex">
            <div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
              <h1>Planos <span>AND BARBERSHOP</span></h1>
            </div><!--txt-topo-site-->
            
            <div class="container efeito-cont-plano">
              <ul class="ul-planos">
                  <li class="card efeito-card-plano">
                    <div class="content">
            
                      <h3>sim</h3>
            
                      <p class="text">Descrição:&nbsp;<span>verdade.</span></p>
                      <p class="preco"><i class="bi bi-cash-stack"></i>&nbsp;<span>R$</span>30.00</p>
            
                      <div class="btn-container">
                        <button id="abre-modal"
                          data-nome="sim" 
                          data-descricao="verdade." 
                          data-preco="30.00"
                          class="btn-infos">
                          <i class="bi bi-info-circle"></i>Mais informações
                        </button>
                      </div>
                    </div><!--content-->
                  </li><!--card-->
                    <%- include ("../partials/modal/modal-planos.ejs") %>
            </div><!--container-->
            </ul>

          </div><!--flex-->
        </div><!--interface-->
      </section>

      <%- include ("../partials/footer.ejs") %>
    </main>

    <script src="/css/partials/header/header.js"></script>
    <script src="/css/partials/cards/vanilla-tilt.js"></script>
    <script>
      VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 25,
        speed: 400,
        glare: true,
        "max-glare": 0.3,
      });
    </script>
</body>
</html>