.sec-sobre{
    min-height: 100vh;
    background-image: url("/css/imgs/background/background-sobre2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

section.sec-sobre .flex{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.sec-sobre .heading{
    background-color: #07121391;
    backdrop-filter: blur(2px);
    width: 400px;
    height: 100vh;
    padding: 0 1%;

    line-height: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sec-sobre .heading h1{
    margin-top: -1%;
    font-family: Espiritu Cond;
    font-weight: 300;
    font-size: 6em;
    padding: 20px 0;
    color: #b4936d;
}

.sec-sobre .heading h1 span{
    color: #fff;
    font-weight: bold;
    filter: drop-shadow(0px 3px 5px #000);
}

.sec-sobre .heading h1.sub{
    font-size: 140px;
}

.sec-sobre .content{
    height: 500px;
    width: 700px;
    padding: 20px 4%;
    gap: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #07121391;
    backdrop-filter: blur(2px);

    box-shadow: 2px 8px 20px #131111;
    border-radius: 45px;
    
    /*animation: aparecer-img-txt1 .5s ease-out alternate;*/
}

.content .imagens-esquerda{
    padding: 10px 2%;
    margin: 0;
    width: 200px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .imagens-esquerda .img-topo{
    border-top-left-radius: 20%;

    border-left: solid 8px #d0804e;
    border-top: solid 8px #d0804e;
    border-right: solid 8px #d0804e;
    border-bottom: solid 2px #d0804e;
}

.content .imagens-esquerda .img-base{
    border-bottom-right-radius: 20%;

    border-left: solid 8px #d0804e;
    border-bottom: solid 8px #d0804e;
    border-right: solid 8px #d0804e;
    border-top: solid 2px #d0804e;
}

.content .imagens-esquerda img{
    height: 200px;
    width: auto;
}

.content .texto-direita{
    height: 100%;
    width: 300px;
    padding: 20px 0%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.texto-direita .descricao{
    padding: 20px 6%;
    border-radius: 10px;

    text-align: justify;
    text-indent: 40px;
    
    font-family: Poppins-ExtraLight;
    font-weight: 10;
    font-size: 12px;
    color: #fff;
}