<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

  <link rel="stylesheet" href="/css/pages/desktop/index.css">
  <link rel="stylesheet" href="/css/animations/animations-txt.css">
  <link rel="stylesheet" href="/css/buttons/btns-form.css">
  <link rel="stylesheet" href="/css/pages/desktop/esquecer-senha.css">
  <link rel="stylesheet" href="/css/pages/responsivo/resp-esquecer-senha.css">

  <script src="/css/partials/header/menu-mobile.js" defer></script>
  <script src="/css/buttons/btn-loading.js" defer></script>
  <title>Recuperação de Senha - And Barbershop</title>
</head>

<body>
  <%- include ("../partials/header-visit.ejs") %>
    <main>

      <section class="fundo-section">
        <div class="interface">
          <div class="flex">

            <div class="container">

              <div class="text-img">
                <a class="title">RECUPERAÇÃO</a><br>
                <a class="subtitle" style="z-index: -1;">DE SENHA</a>
                <i class="bi bi-person-fill-lock"></i>
              </div>
              <div class="form-container">
                <div class="heading">
                  <h1>Digite seu Email</h1>
                </div><br>

                <form class="form" action="/forgot-password" method="POST">

                  <div class="input-field">
                    <input autofocus required="" autocomplete="off" type="email" name="email" id="email" />
                    <label for="email">Email</label>
                  </div>

                  <div class="status">
                  <% if (error) { %>
                    <a class="status-form erro"><i class="bi bi-person-fill-exclamation"></i><%= error %></a>
                  <% } %>
                    
                  <% if (success) { %>
                      <a class="status-form sucesso"><i class="bi bi-envelope-check-fill"></i><%= success %></a>
                  <% } %>
                  </div>

                  <div class="btn-container">
                    <button id="btn-com-loading" class="btn" type="submit" onclick="handClick()"
                      style="padding: 5px 10%; text-transform: capitalize;">Prosseguir</button>
                  </div>

                </form>
              </div>

            </div><!--container-->

          </div><!--flex-->
        </div><!--interface-->
      </section>

      <%- include ("../partials/footer.ejs") %>
    </main>

    <script src="/css/partials/header/header.js"></script>
    <script src="/css/partials/campo-senha/campo-senha.js"></script>

</body>

</html>