@media screen and (max-width: 960px) {

    /* CLASSES GERAIS */
    .topo-do-site{
        background-position-x: 48%;
    }

    section.topo-do-site .flex{
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    /* IMG + TXT */
    .topo-do-site .txt-topo-site{
        padding: 0px 8%;
    }

    .topo-do-site .txt-topo-site .edit{
        font-size: 1.8em;
    }
    
    .topo-do-site .txt-topo-site h1{
        font-size: 2.3em;
    }

    .btn-agendar-agora {
        height: 25px;
        width: 100px;
        border-radius: 8px;
    }
}