<link rel="stylesheet" href="/css/partials/modal/modal-planos.css">
<link rel="stylesheet" href="/css/animations/animations-txt.css">

<script src="/css/partials/modal/modal-planos.js" defer></script>

<dialog id="modal_plano_2">
    <div class="content-modal">
        <div class="title-img">
            <h3 class="id-titulo">02</h3>
            <h2 class="titulo">PLANO MENSAL 2</h2>
        </div>
        
        <div class="mais-info">
            <div>
                <h1>Descrição:</h1>
                <a class="descricao" id="desc-longa">Acesso vitalício para Cortes de Cabelo e Barba durante 1 mês, podendo agendar quantas vezes desejar</a>
            </div>
            
            <div>
                <h1>Preço: </h1>
                <i class="bi bi-cash-stack"></i><a class="preco">R$159,90</a><br>
                <h1 class="obs"><i class="bi bi-exclamation-triangle"></i>*valor da assinatura</h1>
            </div>
        </div>
        <button type="button" class="btn" id="btn-fecha-2">Fechar</button>
    </div>
</dialog>