<link rel="stylesheet" href="/css/partials/footer/main-footer.css">
<link rel="stylesheet" href="/css/partials/footer/resp-main-footer.css">

<footer class="main-footer">
    <div class="interface">

        <div class="top-footer esconder-container">

            <div class="coluna1 efeito-coluna1-footer">
                <div class="logo">
                    <img src="/css/imgs/logo/logo-png.png" alt="logo-nav">
                </div><!--logo-->

                <div class="text-logo">
                    <h5>And Barbershop combina estilo e tradição em um ambiente acolhedor e sofisticado. Com cortes modernos, barbas impecáveis e atendimento personalizado, proporcionamos uma experiência única para quem valoriza qualidade e elegância.</h5>
                </div>
            </div><!--coluna1-->

            <div class="coluna2 efeito-coluna2-footer">
                <div class="heading-footer barbearia"><i class="bi bi-house-fill"></i>Nossa Barbearia</div>
                <ul>
                    <li><i class="bi bi-scissors"></i><a>Nosso Serviços</a></li>
                    <li><i class="bi bi-people-fill"></i><a>Nossos Profissionais</a></li>
                    <li><i class="bi bi-cup-hot-fill"></i><a>Nosso Ambiente</a></li>
                    <li><i class="bi bi-bookmark-check-fill"></i><a>Nosso Compromisso</a></li>
                </ul>
            </div><!--coluna2-->

            <div class="coluna3 efeito-coluna3-footer">
                <div class="heading-footer"><i class="bi bi-alarm-fill"></i>Horários de atendimento</div>
                <ul>
                    <li><i class="bi bi-calendar2-week"></i><a>Seg. a Sexta: 09h às 21h30</a></li>
                    <li><i class="bi bi-calendar2-week"></i><a>Sábado: 09h às 17h30</a></li>
                </ul>
            </div><!--coluna3-->

            <div class="coluna4 efeito-coluna4-footer">
                <div class="heading-footer contato"><i class="bi bi-telephone-outbound-fill"></i>Contato</div>
                <ul>
                    <li><i class="bi bi-geo-alt-fill"></i><a style="font-size: 10px;">Av. Universitária 3125 - São Sebastião, Criciúma</a></li>
                    <li><i class="bi bi-envelope-fill"></i><a>andbarbershop@gmail.com</a></li>
                    <li><i class="bi bi-whatsapp"></i><a>+55 (48) 9644 - 3861</a></li>
                </ul>
            </div><!--coluna4-->

        </div><!--top-footer-->

        <div class="bottom-footer esconder-container">

            <div class="copy-text efeito-copy-footer">
                <a>Copyright ©2024 Todos direitos reservados para: <span>Guilherme e Lucas</span></a>
            </div>

            <div class="redes-icones">
                <div class="sub-heading-footer efeito-heading-redes-footer">Nossas Redes Sociais:</div>

                <div class="icones-bottom efeito-icones-footer">
                    <ul>
                        <li><a class="action" target="_blank"><i class="bi bi-facebook"></i></a></li>
                        <li><a class="action" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                        <li><a class="action" target="_blank" href="https://www.instagram.com/andradebarber.shop/"><i class="bi bi-instagram"></i></a></li>
                        <li><a class="action" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                        <li><a class="action" target="_blank"><i class="bi bi-youtube"></i></a></li>
                    </ul>
                </div><!--icones bottom-->
            
            </div><!--rede-icones-->

        </div><!--bottom-footer-->

    </div><!--interface-->
</footer>