<link rel="stylesheet" href="/css/partials/footer/main-footer.css">
<link rel="stylesheet" href="/css/partials/footer/resp-main-footer.css">

<footer class="main-footer">
    <div class="interface">
        <h1 style="
            font-size: 14px;
            font-family: Poppins-ExtraLight;
            color: #fff;">
            AQUI TEM COISA IMPORTANTE</h1>
    </div><!--interface-->
</footer>