<link rel="stylesheet" href="/css/partials/header/main-header-lateral.css">
<link rel="stylesheet" href="/css/partials/header/menu-info-conta.css">
<link rel="stylesheet" href="/css/buttons/btn-list.css">
<link rel="stylesheet" href="/css/fonts/font-imports.css">

<style>
    
</style>

<header id="header">
    <div class="interface">

        <div class="logo">
            <a href="/painelbarb">
                <img src="/css/imgs/logo/logo-png.png" alt="logo-nav">
            </a>
        </div><!--logo-->

        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>

        <div class="menu-conta" id="menu-mobile">
            <div class="btn-fechar">
                <i class="bi bi-x-lg"></i>
            </div>

            <div class="menu-container">

                <div class="info-conta">
                    <div class="flex">
                        
                        <div class="img-conta">
                            <% if (barbeiro.imagem) { %>
                                <img class="img-barbeiro" src="/uploads/<%= barbeiro.imagem %>" alt="Foto do barbeiro">
                            <% } else { %>
                                <img src="/css/imgs/elementos/nav-icon-user.png" alt="Foto Usuário">
                            <% } %>
                        </div>
    
                        <div class="txt-conta" style="width: 100%; font-size: 20px; margin-bottom: 5px;">
                            <a>Seja Bem-Vindo,</a>
                            <h1><%= barbeiro.nome %>&nbsp;<%= barbeiro.sobrenome %>!</h1>
                        </div>
                    </div><!--flex-->
                </div><!--info-conta-->

                <div class="content-menu">
                <nav>
                    <ul>
                    <% if (barbeiro.tipo === 1) { %>
                            <a href="/cadservicos"><li><i class="bi bi-plus-circle-fill"></i><a href="/cadservicos">Cadastrar Serviço</a></li></a>
                            <a href="/verservicos"><li><i class="bi bi-scissors"></i><a href="/verservicos">Visualizar Serviços</a></li></a>
                            <a href="/veragendamentosbarb"><li><i class="bi bi-calendar2-week-fill"></i><a href="/veragendamentosbarb">Meus Agendamentos</a></li></a>
                            <a href="/tarefas/criar"><li><i class="bi bi-calendar-plus"></i><a href="/tarefas/criar">Cadastrar tarefas</a></li></a>
                            <a href="/tarefas/listar"><li><i class="bi bi-calendar-week"></i><a href="/tarefas/listar">Cronograma de Tarefas</a></li></a>
                            <a href="/cadastrobarbeiro"><li><i class="bi bi-person-fill-add"></i><a href="/cadastrobarbeiro">Cadastrar Barbeiro</a></li></a>
                            <a href="/verbarb"><li><i class="bi bi-people-fill"></i><a href="/verbarb">Quadro de Barbeiros</a></li></a>
                            <a href="/listarFeed"><li><i class="bi bi-chat-square-text-fill"></i><a href="/listarFeed">Visualizar Feedbacks</a></li></a>
                    <% } else if (barbeiro.tipo === 2) { %>
                            <li><i class="bi bi-calendar-plus"></i><a href="/tarefas/criar">Cadastrar tarefas</a></li></a>
                            <li><i class="bi bi-calendar-week"></i><a href="/tarefas/listar">Cronograma de Tarefas</a></li></a>
                            <li><i class="bi bi-calendar2-week-fill"></i><a href="/veragendamentosbarb">Meus Agendamentos</a></li></a>
                    <% } %>

                    <div class="btn-logout">
                        <a href="/logout1">
                            <button class="btn-deletar" type="button">Sair</button>
                        </a>
                    </div>
                </ul>
            </nav>
            </div><!--content-menu-->

            </div><!--menu-container-->

        </div><!--menu-conta-->

        <div class="overlay-menu" id="overlay-menu"></div>

    </div><!--interface-->
</header>