<link rel="stylesheet" href="/css/partials/header/main-header.css">
<link rel="stylesheet" href="/css/partials/header/menu-mobile.css">
<link rel="stylesheet" href="/css/partials/header/info-conta.css">
<link rel="stylesheet" href="/css/buttons/btn-header.css">
<link rel="stylesheet" href="/css/fonts/font-imports.css">

<header id="header">
    <div class="interface">

        <div class="logo">
            <a href="/">
                <img src="/css/imgs/logo/logo-png.png" alt="logo-nav">
            </a>
        </div><!--logo-->

        <nav class="menu-desktop">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#">SOBRE</a></li>
                <li><a href="/planos">PLANOS E ASSINATURAS</a></li>
                <li><a href="/agendamentos">AGENDE AQUI</a></li>
            </ul>
        </nav>

        <div class="info-conta">
            <div class="flex">

                <div class="img-conta">
                    <img src="/css/imgs/elementos/nav-icon-user.png" alt="Foto Usuário">
                </div>

                <div class="txt-conta">
                    <a class="href" href="/novocliente">Cadastrar-se Agora</a>
                    <hr>
                    <a class="href" href="/logincliente">Realizar Login</a>
                </div>

            </div><!--flex-->
        </div><!--info-conta-->

        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>

        <div class="menu-mobile" id="menu-mobile">
            <div class="btn-fechar">
                <i class="bi bi-x-lg"></i>
            </div>

            <nav>
                <ul>
                    <li><a href="/"><i class="bi bi-house-door-fill"></i>HOME</a></li>
                    <li><a href="#"><i class="bi bi-info-circle"></i>SOBRE</a></li>
                    <li><a href="/planos"><i class="bi bi-credit-card-2-back"></i>PLANOS E ASSINATURAS</a></li>
                    <li><a href="/agendamentos"><i class="bi bi-calendar-plus"></i>AGENDE AQUI</a></li>
                    <li><a href="/logincliente"><i class="bi bi-person-fill-check"></i>REALIZAR LOGIN</a></li>
                    <li><a href="/novocliente"><i class="bi bi-person-fill-add"></i>CADASTRAR-SE</a></li>
                </ul>
            </nav>

        </div><!--menu-mobile-->

        <div class="overlay-menu" id="overlay-menu"></div>

    </div><!--interface-->
</header>