<link rel="stylesheet" href="/css/partials/header/main-header.css">
<link rel="stylesheet" href="/css/partials/header/menu-mobile.css">
<link rel="stylesheet" href="/css/partials/header/info-conta.css">
<link rel="stylesheet" href="/css/animations/animations-txt.css">
<link rel="stylesheet" href="/css/buttons/btn-header.css">
<link rel="stylesheet" href="/css/fonts/font-imports.css">

<header id="header">
    <div class="interface">

        <div class="logo">
            <a href="/">
                <img src="/css/imgs/logo/logo-png.png" alt="logo-nav">
            </a>
        </div><!--logo-->

        <nav class="menu-desktop">
            <ul>
                <li><a href="#topo-do-site">HOME</a></li>
                <li class="dropdown">
                    <a id="sobre-link" href="#sec-sobre">SOBRE<i class="bi bi-caret-down-fill"></i></a>

                    <div class="dropdown-menu">
                        <a href="#sec-sobre">ATENDIMENTO</a>
                        <a href="#sec-servicos">SERVIÇOS</a>
                        <a href="#sec-feed">FEEDBACKS</a>
                    </div>
                </li>
                <li><a href="#sec-planos">PLANOS E ASSINATURAS</a></li>
                <li><a href="/agendamentos">AGENDE AQUI</a></li>
            </ul>
        </nav>

        <div class="info-conta">
            <div class="flex">

                <div class="img-conta">
                    <img src="/css/imgs/elementos/nav-icon-user.png" alt="Foto Usuário">
                </div>

                <div class="txt-conta">
                    <a class="href" href="/novocliente">Cadastrar-se Agora</a>
                    <hr>
                    <a class="href" href="/logincliente">Realizar Login</a>
                </div>

            </div><!--flex-->
        </div><!--info-conta-->

        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>

        <div class="menu-mobile" id="menu-mobile">
            <div class="btn-fechar">
                <i class="bi bi-x-lg"></i>
            </div>

            <nav>
                <ul>
                    <li><a href="#topo-do-site"><i class="bi bi-house-door-fill"></i>Home</a></li>
                    <li><a href="#sec-sobre"><i class="bi bi-info-circle"></i>Sobre</a></li>
                    <li><a href="#sec-planos"><i class="bi bi-credit-card-2-back"></i>Planos e Assinaturas</a></li>
                    <li><a href="/agendamentos"><i class="bi bi-calendar-plus"></i>Agende Aqui</a></li>
                    <li><a href="/logincliente"><i class="bi bi-person-fill-check"></i>Realizar Login</a></li>
                    <li><a href="/novocliente"><i class="bi bi-person-fill-add"></i>Cadastrar-se</a></li>
                </ul>
            </nav>

        </div><!--menu-mobile-->

        <div class="overlay-menu" id="overlay-menu"></div>

    </div><!--interface-->

    <script>
        const imageInput = document.getElementById('imageInput');
        const preview = document.getElementById('preview');
        const imagemCadastradaSrc = document.getElementById('imagem-cadastrada-src');
        const form = document.getElementById('form');

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            // Enviar o formulário para o servidor
            const formData = new FormData(form);
            fetch('/upload', {
                method: 'POST',
                body: formData,
            })
                .then((response) => response.json())
                .then((data) => {
                    // Atualizar a imagem na div após o envio do formulário
                    imagemCadastradaSrc.src = data.imagem;
                })
                .catch((error) => console.error(error));
        });

        imageInput.addEventListener('change', (e) => {
            const file = imageInput.files[0];
            const reader = new FileReader();

            reader.onload = (e) => {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        });
    </script>

    <script>
        const link = document.getElementById("sobre-link");
        const dropdownMenu = document.querySelector(".dropdown-menu");
        const icon = link.querySelector("i");

        // Função para verificar o estado do dropdown e ajustar o ícone
        function toggleIcon() {
            if (dropdownMenu.classList.contains("show")) {
                icon.classList.remove("bi-caret-down-fill");
                icon.classList.add("bi-caret-up-fill");
            } else {
                icon.classList.remove("bi-caret-up-fill");
                icon.classList.add("bi-caret-down-fill");
            }
        }

        // Supondo que você controle o menu com um clique ou outro evento
        link.addEventListener("click", (e) => {
            e.preventDefault();
            dropdownMenu.classList.toggle("show");
            toggleIcon();
        });

        // Opcional: Fechar o menu ao clicar fora dele
        document.addEventListener("click", (e) => {
            if (!dropdownMenu.contains(e.target) && !link.contains(e.target)) {
                dropdownMenu.classList.remove("show");
                toggleIcon();
            }
        });
    </script>
</header>