@media screen and (max-width: 960px) {

    /* CLASSES GERAIS */
    section.fundo-section .flex{
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position-x: 53%;
        gap: 20px;
    }

    .fundo-section .container{
        margin-top: 15%;
        height: 70vh;
        width: 350px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* IMG + TXT */
    .text-img {
        margin-top: 10%;
        height: 160px;
        width: 250px;
        
        position: relative;
        left: 0;
        top: 0;
    }

    .img-icon {
        position: absolute;
        width: 180px;
        left: 38px;
        top: -17px;
    }

    .title {
        font-size: 35px;
        top: -5px;
    }

    .subtitle {
        font-size: 65px;
        top: -18px;
        left: 14%;
    }

    /* FORM + BTN */
    .form-container {
        width: 300px;
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        top: 0;
        left: 0;
        padding: 40px 4%;
    }
    
    .form-container .heading {
        display: none;
    }

    .input-field label{
        font-size: 12px;
    }

    .input-field input {
        font-size: 12px;
        padding: 8px 15px;
        width: 250px;
    }
}