@media screen and (max-width: 960px) {

  /* CLASSES GERAIS */
  section.fundo-section .flex{
    min-height: 110vh;
    flex-direction: column;
    background-position-x: 53%;
    gap: 20px;
  }

  .fundo-section .container{
    height: 600px;
    width: auto;
    padding: 4px 6%;

    flex-direction: column;
    justify-content: center;
    gap: 40px;

    position: relative;
    top: 80px;
  }

  /* IMG + TXT */
  .text-img {
    height: 250px;
    width: 250px;

    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    animation: none;
  }

  .img-form {
    position: absolute;

    height: 300px;
    width: auto;
    top: 0;
    margin-top: -10%;
    left: 17px;
  }

  .title {
    font-size: 45px;
    left: 26%;
  }

  .subtitle {
    font-size: 65px;
    text-shadow: -2px -2px 2px #0d2829;
    left: 17%;
    top: 28%;
  }

  /* FORM + BTN */
  .form-container {
    height: 60%;
    width: 300px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    top: 0;
    left: 0;
    padding: 0px 4%;
  }

  .form-container .heading {
    display: none;
  }

  .input-field input {
    font-size: 12px;

    padding: 8px 12px;
    width: 300px;
  }
}