<link rel="stylesheet" href="/css/partials/modal/modal-planos.css">
<link rel="stylesheet" href="/css/animations/animations-txt.css">

<script src="/css/partials/modal/modal-planos.js" defer></script>

<dialog id="modal-planos">
    <div class="content-modal">
        <div class="title-img">
            <h3 class="id-titulo" id="numero-modal"></h3>
            <h2 class="titulo" id="titulo-modal"></h2>
        </div>
        
        <div class="mais-info">
            <div>
                <h1>Descrição:</h1>
                <a class="descricao" id="descricao-modal"></a>
            </div>
            
            <div>
                <h1>Preço: </h1>
                <i class="bi bi-cash-stack"></i><a class="rs">R$</a><a class="preco" id="preco-modal"></a><br>
                <h1 class="obs"><i class="bi bi-exclamation-triangle"></i>*valor da assinatura</h1>
            </div>
        </div>
        <button type="button" class="btn" id="btn-fecha-modal">Fechar</button>
    </div>
</dialog>