<link rel="stylesheet" href="/css/partials/footer/main-footer.css">

<footer class="main-footer">
    <a class="action" href="https://wa.me/554896443861" target="_blank">
        <img class="img1" src="/css/imgs/icones/icone-whatsapp2.png" alt="Whatsapp And">
    </a>
    <a class="action" href="https://www.instagram.com/andradebarber.shop/" target="_blank">
        <img class="img2" src="/css/imgs/icones/icone-instagram2.png" alt="Instagram And">
    </a>
</footer>