<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

    <link rel="stylesheet" href="/css/pages/desktop/index.css">
    <link rel="stylesheet" href="/css/animations/animations-txt.css">
    <link rel="stylesheet" href="/css/animations/animations-img.css">
    <link rel="stylesheet" href="/css/buttons/btns-form.css">
    <link rel="stylesheet" href="/css/buttons/btn-google.css">
    <link rel="stylesheet" href="/css/pages/desktop/login-usuario.css">
    <link rel="stylesheet" href="/css/pages/responsivo/resp-login-usuario.css">

    <script src="/css/partials/header/menu-mobile.js" defer></script>
    <script src="/css/buttons/btn-loading.js" defer></script>
    <title>Login - And Barbershop</title>
</head>

<body>
    <%- include ("../partials/header-visit.ejs") %>
        <main>

            <section class="fundo-section">
                <div class="interface">
                    <div class="flex">
                    
                        <div class="container">

                        <div class="text-img">
                            <a class="title">LOGIN DE</a><br>
                            <a class="subtitle">USUÁRIO</a>
                            <img class="img-form" src="/css/imgs/elementos/icon_user2.png" alt="icon2">
                        </div>
                        <div class="form-container">
                            <div class="heading">
                                <h1>Realize seu Login</h1>
                                <h6>Novo por aqui?&nbsp;<a href="/novocliente">Cadastrar</a></h6><br>
                            </div><br>

                            <form class="form" action="/cliente/login" method="POST">

                                <div class="input-field">
                                    <input autofocus required="" autocomplete="off" type="email" name="email" id="email" />
                                    <label for="email">Email</label>
                                </div>

                                <div class="input-field">
                                    <input required="" autocomplete="off" type="password" name="senha" id="senha" />
                                    <label for="senha">Senha</label>
                                </div>

                                <div class="btn-container">
                                    <button id="btn-com-loading" class="btn" type="submit" onclick="handClick()" style="padding: 5px 10%; text-transform: capitalize;">Realizar Login</button>
                                </div>

                                <div class="divisao">
                                    <hr><h1>ou</h1><hr>
                                </div>

                                <div class="btn-container">
                                    <a href='/auth/google'>
                                        <button id="btn-google" class="btn-google" type="button" onclick="handleClick()"><img src="/css/imgs/icones/logo-google.png" alt="logo-google">Continuar com o Google</button>
                                    </a>
                                </div>    
                                
                            </form>
                        </div>

                        </div><!--container-->

                    </div><!--flex-->
                </div><!--interface-->
            </section>

            <%- include ("../partials/footer.ejs") %>
        </main>

        <script src="/css/partials/header/header.js"></script>

</body>
</html>