.img1, .img2{
    height: 40px;
    width: 40px;
}

.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #091c1d;
    padding-top: 28px;
    padding-bottom: 40px;
    color: #fff;
    font-family: Poppins-Light;
}

.main-footer .action{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.main-footer img{
    margin: 0 10px;
}