.topo-do-site{
    min-height: 100vh;
    width: 100%;
    background-image: url("/css/imgs/background/background-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

section.topo-do-site .flex{
    height: 100vh;
    align-items: center;
    gap: 20px;
}

.efeito-txt-topo,
.efeito-card-plano,
.efeito-container-sobre,
.efeito-container-servicos,
.efeito-container-feed{
    visibility: hidden;
}

.topo-do-site .txt-topo-site{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 0px 6%;
    /*animation: opacidade-moviment 1s ease-out alternate;*/
}

.topo-do-site .txt-topo-site h1{
    margin-top: -1%;
    text-align: start;
    color: #f7d2a9;
    font-size: 5em;
    font-family: Espiritu Cond;
}

.topo-do-site .txt-topo-site h1 span{
    color: #fff;
}

.btn-agendar a{
    text-decoration: none;
}