.sec-feed{
    min-height: 100vh;
    background-image: url("/css/imgs/background/background-feedback2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

section.sec-feed .flex{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 5%;
}

.sec-feed .container-feed .txt-topo-site h1{
    color: #d0804e;
    font-size: 6.5em;
    font-family: Espiritu Cond;
    margin: 0;
}

.sec-feed .container-feed{
    width: 100%;
    gap: 35px;
    margin: 0;
    /*animation: aparecer-img-txt1 .5s ease-out alternate;*/
}

.sec-feed .container-feed.esquerda{
    padding: 50px 2%;
}

.sec-feed .container-feed.meio{
    padding: 50px 2%;
}

.sec-feed .container-feed.direita{
    padding: 50px 2%;
}

.container-feed .flex{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.container-feed .card{
    width: 350px;
    height: 50px;
    background-color: #091c1d;
    box-shadow: 0 0 20px #000;
    border-radius: 15px;
    padding: 20px 10%;
}

.container-feed .card1{
    width: 350px;
    height: auto;
}

.container-feed .card2{
    width: 350px;
    height: auto;
}

.container-feed .card3{
    width: 350px;
    height: auto;
}

.container-feed .card4{
    width: 300px;
    height: auto;
}

.container-feed .card .img-nome{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.container-feed .card .img-nome img{
    width: 50px;
    height: 50px;
    border: solid 2px #d0804e;
    border-radius: 100%;
}

.estrelas h1{
    color: #fff;
    font-size: 16px;
    font-weight: 10;
    font-family: Poppins-Bold;
}

.estrelas i{
    color: #969696;
    font-size: 16px;
}

.estrelas i.opaca{
    color: gold;
    font-size: 16px;
    filter: drop-shadow(0px 0px 1px gold);
}

.card .comentario h2{
    width: 100%;
    height: 100%;
    text-align: justify;
    text-indent: 20px;
    resize: none;
    
    line-height: 2.1em;
    border-radius: 10px;
    border: 0;
    padding: 20px 15px;

    outline: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-family: Poppins-ExtraLight;
    color: #fff;
}