.sec-planos{
    min-height: 120vh;
    background-image: url("/css/imgs/background/background-manager.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

section.sec-planos .flex{
    height: 120vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-topo-site h1{
    margin-top: 15%;
    text-align: center;
    color: #f7d2a9;
    font-size: 5em;
    font-family: Espiritu Cond;
}

.txt-topo-site h1 span{
    color: #fff;
}

.container{
    margin-bottom: 15%;
    position: relative;
    height: auto;
    max-width: 1280px;

    /*animation: opacidade-moviment 0.5s ease-out alternate;*/

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container ul{
    gap: 20px;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.container ul li{ /* plano */
    list-style: none;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    background-color: rgba(29, 27, 26, 50%);
    backdrop-filter: blur(2px);
    
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    /*border-top: solid 1px rgba(199, 199, 199, 0.5);
    border-left: solid 1px rgba(199, 199, 199, 0.5);*/
}

.container ul li:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1.5);
}

.container ul li .content{
    width: 100%;
    padding: 10px 2%;
    text-align: center;
    transition: .5s;
    opacity: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container ul li .content:hover{
    opacity: 100%;
}

.container ul li .content h2{
    z-index: 1;
    color: rgba(208, 128, 78, 75%);
    font-family: Espiritu;
    font-size: 7em;

    text-align: center;
    position: absolute;
    top: 0px;
    right: 10px;

    pointer-events: none;
}

.container ul li .content h3{
    z-index: 2;
    color: #f7d2a9;
    font-family: Espiritu Cond;
    font-size: 40px;
    filter: drop-shadow(0px 0px 2px black);

    position: absolute;
    top: 10px;
    padding: 20px 0px;
}

.container ul li .content p{
    font-size: 12px;
    color: #fff;

    width: 100%;
    min-height: 50px;
    padding: 10px 5%;
    
    border-radius: 15px;
}

.container ul li .content p.text{
    font-family: Poppins-Bold;
    text-indent: 20px;

    margin-top: 20px;
    margin-bottom: 5px;
    text-align: justify;
    
    background-color: #d0804e85;
    backdrop-filter: blur(2px);
}

.container ul li .content p.text span{
    text-indent: 0px;
    font-family: Poppins-Regular;
}


.container ul li .content p.preco span{
    font-family: Poppins-Regular;
    color: #4ed05f;
}

.container ul li .content p.preco{
    width: 80%;
    font-size: 18px;
    font-family: Poppins-Bold;
    color: #fff;

    margin-top: 5px;
    margin-bottom: 10px;

    background-color: rgba(29, 27, 26, 50%);
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container ul li .content p i{
    margin-right: 2px;
    margin-top: 2px;
    color: #4ed05f;
}

.container ul li .content .btn-container{
    margin-top: 5%;
    position: absolute;
    bottom: 40px;
    width: 100%;
}