.sec-sobre{
    min-height: 100vh;
    background-image: url("/css/imgs/background/background-feedback2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

section.sec-sobre .flex{
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.sec-sobre .txt-topo-site h1{
    margin-top: 20%;
    text-align: center;
    color: #d0804e !important;
    font-size: 5em;
    font-family: Espiritu Cond;
}

.sec-sobre .container{
    height: 50vh;
    width: 90%;
    padding: 20px 4%;
    gap: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    /*animation: aparecer-img-txt1 .5s ease-out alternate;*/
}

.container img.img-esquerda{
    height: 100%;
    width: auto;
    border-radius: 20px;
    
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1.5);
}

.container .txt-direita{
    height: 100%;
    width: 50%;
    padding: 20px 0%;
    line-height: 2.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: justify;
    text-indent: 40px;
}

.txt-direita h1{
    letter-spacing: 1px;
    font-family: Espiritu;
    font-weight: 10;
    font-size: 26px;
    color: #fff;
}

.txt-direita h1 span{    
    font-family: Espiritu Cond;
    font-size: 35px;
    color: #d0804e;
    font-weight: bold;
}